In [20]:
import pandas as pd
import numpy as np

In [21]:
qqq = pd.read_csv('./NASDAQ Composite Historical Data.csv')[['Date','R']]
tlt = pd.read_csv('./VUSTX.csv')[['Date','R']]

In [22]:
phase = 1(0,1,2,3) 
sellFee = 0.002
buyFee = 0.002
taxRate = 0.22
taxSum = 0

TypeError: 'int' object is not callable

In [23]:
qqq.head()

        Date       R
0  28-Feb-20   0.01%
1  27-Feb-20  -4.61%
2  26-Feb-20   0.17%
3  25-Feb-20  -2.77%
4  24-Feb-20  -3.71%

In [24]:
tlt.head()

         Date        R
0  1986-05-19  -0.200%
1  1986-05-20  -0.200%
2  1986-05-21   1.002%
3  1986-05-22  -0.198%
4  1986-05-23   0.199%

In [25]:
tlt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8515 entries, 0 to 8514
Data columns (total 2 columns):
Date    8515 non-null object
R       8515 non-null object
dtypes: object(2)
memory usage: 133.2+ KB

In [26]:
qqq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 2 columns):
Date    5323 non-null object
R       5323 non-null object
dtypes: object(2)
memory usage: 83.3+ KB

In [27]:
tlt['Date'] = pd.to_datetime(tlt['Date'])
qqq['Date'] = pd.to_datetime(qqq['Date'])
tlt['R'] = tlt['R'].str.replace('%','').astype(np.float64)
qqq['R'] = qqq['R'].str.replace('%','').astype(np.float64)

In [28]:
tlt.info()
qqq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8515 entries, 0 to 8514
Data columns (total 2 columns):
Date    8515 non-null datetime64[ns]
R       8515 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 133.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 2 columns):
Date    5323 non-null datetime64[ns]
R       5323 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 83.3 KB

In [29]:
qqq.sample(10)

           Date     R
260  2019-02-15  0.61
414  2018-07-06  1.34
718  2017-04-21 -0.11
887  2016-08-18  0.22
1225 2015-04-17 -1.52
479  2018-04-04  1.45
2320 2010-12-08  0.41
2122 2011-09-21 -2.01
1194 2015-06-02 -0.13
1810 2012-12-18  1.46

In [30]:
tlt['Date'].dt.year

0       1986
1       1986
2       1986
3       1986
4       1986
        ...
8510    2020
8511    2020
8512    2020
8513    2020
8514    2020
Name: Date, Length: 8515, dtype: int64

In [31]:
qqq['Date'] = pd.to_datetime(qqq['Date'])
qqq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 2 columns):
Date    5323 non-null datetime64[ns]
R       5323 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 83.3 KB

In [32]:
qqq['Date'].dt.year

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
5318    1999
5319    1999
5320    1999
5321    1999
5322    1999
Name: Date, Length: 5323, dtype: int64

In [33]:
qqq["Date_1m"] = qqq["Date"] + pd.DateOffset(months=1)

In [34]:
qqq.describe()

                 R
count  5323.000000
mean      0.037900
std       1.568945
min      -9.670000
25%      -0.630000
50%       0.090000
75%       0.760000
max      14.170000

In [35]:
qqq.loc[(qqq['Date'].dt.day == 29) & (qqq['Date'].dt.month == 2)]

           Date     R    Date_1m
1007 2016-02-29 -0.71 2016-03-29
2012 2012-02-29 -0.67 2012-03-29
3020 2008-02-29 -2.58 2008-03-29
5031 2000-02-29  2.60 2000-03-29

In [36]:
qqq['Date'].dt.day == 28

0        True
1       False
2       False
3       False
4       False
        ...
5318    False
5319    False
5320    False
5321    False
5322    False
Name: Date, Length: 5323, dtype: bool

### 기본설정
1. 시작일 선정(양쪽다 데이터가 있는 최소값)
2. 변수리스트
-> tlt, qqq, result
    result(date, phase, returnRate, balance, qqqPosition, tltPosition, taxSum, fee, maxBalance, drawdown)
3. 상수(세팅값)리스트() 선언후 바뀌지 않는 변수
->  phase = 1(0,1,2,3), 
    sellFee = 0.002, 
    buyFee = 0.002,
    taxRate = 0.22,
    taxSum = 0,
    (phase0Cnt = 0, phase1Period = 1m, phase1ThresholdRate = 2, phase1QqqPosition = 1, phase1TltPosition = 0) 
    phase1Cnt = 1, phase1Period = 1m, phase1ThresholdRate = 2, phase1QqqPosition = 0.9, phase1TltPosition = 0.1,
    phase2Cnt = 1, phase2Period = 1m, phase2ThresholdRate = 3, phase2QqqPosition = 0, phase2TltPosition = 1,
    phase3Cnt = 4, phase3Period = 2m, phase3ThresholdRate = 3, phase3QqqPosition = 0, phase3TltPosition = 1

In [39]:
class phase:
    def __init__(self, Num, Cnt, Period, ThresholdRate, QqqPosition, QltPosition):
        self.Num = Num
        self.Cnt = Cnt
        self.Period = Period
        self.ThresholdRate = ThresholdRate
        self.QqqPosition = QqqPosition
        self.TltPosition = TltPosition

In [40]:
class result:
    def __init__(self, resultNum, date, phase, returnRate, balance, qqqPosition, tltPosition, taxSum, fee):
        self.resiltNum = resultNum
        self.date = date
        self.phase = phase
        self.returnRate = returnRate
        self.balance = balance
        self.qqqPosition = qqqPosition
        self.tltPosition = tltPosition
        self.taxSum = taxSum
        self.fee = fee

In [ ]:
CONFIG = {
	sellFee : '0.002',
    buyFee : '0.002'
    taxRate : '0.22'


	phaseList : [
		{
			phaseNum : 1,
			phaseCnt : 1,
            phasePeriod : 1m,
            phaseThresholdRate : 2,
            phaseQqqPosition : 0.1,
            phaseTltPosition : 0.9
		},
		{
			phaseNum : 2,
			phaseCnt : 1
            phasePeriod : 1m,
            phaseThresholdRate : 3,
            phaseQqqPosition : 0,
            phaseTltPosition : 1
		}	
        {
            phaseNum : 3
            phaseCnt : 4
            phasePeriod : 2m,
            phaseThresholdRate : 3,
            phaseQqqPosition : 0,
            phaseTltPosition : 1
        }
	]
}

CONFIG['phaseList'][0]['phaseCnt']  1