In [1]:
import pandas as pd
import numpy as np

In [2]:
qqq = pd.read_csv('./NASDAQ Composite Historical Data.csv')[['Date','R']]
tlt = pd.read_csv('./VUSTX.csv')[['Date','R']]
qqq['qqqR'] = qqq['R']
tlt['tltR'] = tlt['R']

In [3]:
qqq.head()

        Date       R    qqqR
0  28-Feb-20   0.01%   0.01%
1  27-Feb-20  -4.61%  -4.61%
2  26-Feb-20   0.17%   0.17%
3  25-Feb-20  -2.77%  -2.77%
4  24-Feb-20  -3.71%  -3.71%

In [4]:
tlt.head()

         Date        R     tltR
0  1986-05-19  -0.200%  -0.200%
1  1986-05-20  -0.200%  -0.200%
2  1986-05-21   1.002%   1.002%
3  1986-05-22  -0.198%  -0.198%
4  1986-05-23   0.199%   0.199%

In [5]:
tlt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8515 entries, 0 to 8514
Data columns (total 3 columns):
Date    8515 non-null object
R       8515 non-null object
tltR    8515 non-null object
dtypes: object(3)
memory usage: 199.7+ KB

In [6]:
qqq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 3 columns):
Date    5323 non-null object
R       5323 non-null object
qqqR    5323 non-null object
dtypes: object(3)
memory usage: 124.9+ KB

In [7]:
tlt['Date'] = pd.to_datetime(tlt['Date'])
qqq['Date'] = pd.to_datetime(qqq['Date'])
tlt['R'] = tlt['R'].str.replace('%','').astype(np.float64)
qqq['R'] = qqq['R'].str.replace('%','').astype(np.float64)

In [8]:
tlt.info()
qqq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8515 entries, 0 to 8514
Data columns (total 3 columns):
Date    8515 non-null datetime64[ns]
R       8515 non-null float64
tltR    8515 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 199.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 3 columns):
Date    5323 non-null datetime64[ns]
R       5323 non-null float64
qqqR    5323 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 124.9+ KB

In [9]:
qqq.sample(10)

           Date     R    qqqR
1367 2014-09-23 -0.42  -0.42%
166  2019-07-02  0.22   0.22%
2296 2011-01-12  0.75   0.75%
2663 2009-07-30  0.84   0.84%
1667 2013-07-16 -0.25  -0.25%
275  2019-01-25  1.29   1.29%
4265 2003-03-20  0.41   0.41%
349  2018-10-08 -0.67  -0.67%
72   2019-11-13 -0.05  -0.05%
4698 2001-06-25  0.79   0.79%

In [10]:
tlt['Date'].dt.year

0       1986
1       1986
2       1986
3       1986
4       1986
        ...
8510    2020
8511    2020
8512    2020
8513    2020
8514    2020
Name: Date, Length: 8515, dtype: int64

In [11]:
qqq['Date'] = pd.to_datetime(qqq['Date'])
qqq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 3 columns):
Date    5323 non-null datetime64[ns]
R       5323 non-null float64
qqqR    5323 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 124.9+ KB

In [12]:
qqq['Date'].dt.year

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
5318    1999
5319    1999
5320    1999
5321    1999
5322    1999
Name: Date, Length: 5323, dtype: int64

In [13]:
qqq["Date_1m"] = qqq["Date"] + pd.DateOffset(months=1)

In [61]:
qqq

           Date     R    qqqR    Date_1m
0    2020-02-28  0.01   0.01% 2020-03-28
1    2020-02-27 -4.61  -4.61% 2020-03-27
2    2020-02-26  0.17   0.17% 2020-03-26
3    2020-02-25 -2.77  -2.77% 2020-03-25
4    2020-02-24 -3.71  -3.71% 2020-03-24
...         ...   ...     ...        ...
5318 1999-01-08  0.79   0.79% 1999-02-08
5319 1999-01-07  0.23   0.23% 1999-02-07
5320 1999-01-06  3.09   3.09% 1999-02-06
5321 1999-01-05  1.96   1.96% 1999-02-05
5322 1999-01-04  0.70   0.70% 1999-02-04

[5323 rows x 4 columns]

In [14]:
qqq.describe()

                 R
count  5323.000000
mean      0.037900
std       1.568945
min      -9.670000
25%      -0.630000
50%       0.090000
75%       0.760000
max      14.170000

In [15]:
qqq.loc[(qqq['Date'].dt.day == 29) & (qqq['Date'].dt.month == 2)]

           Date     R    qqqR    Date_1m
1007 2016-02-29 -0.71  -0.71% 2016-03-29
2012 2012-02-29 -0.67  -0.67% 2012-03-29
3020 2008-02-29 -2.58  -2.58% 2008-03-29
5031 2000-02-29  2.60   2.60% 2000-03-29

In [16]:
qqq['Date'].dt.day == 28

0        True
1       False
2       False
3       False
4       False
        ...
5318    False
5319    False
5320    False
5321    False
5322    False
Name: Date, Length: 5323, dtype: bool

### 기본설정
1. 시작일 선정(양쪽다 데이터가 있는 최소값)
2. 변수리스트
-> tlt, qqq, result
    result(date, phase, returnRate, balance, qqqPosition, tltPosition, taxSum, fee, maxBalance, drawdown)
3. 상수(세팅값)리스트() 선언후 바뀌지 않는 변수
->  phase = 1(0,1,2,3), 
    sellFee = 0.002, 
    buyFee = 0.002,
    taxRate = 0.22,
    taxSum = 0,
    (phase0Cnt = 0, phase1Period = 1m, phase1ThresholdRate = 2, phase1QqqPosition = 1, phase1TltPosition = 0) 
    phase1Cnt = 1, phase1Period = 1m, phase1ThresholdRate = 2, phase1QqqPosition = 0.9, phase1TltPosition = 0.1,
    phase2Cnt = 1, phase2Period = 1m, phase2ThresholdRate = 3, phase2QqqPosition = 0, phase2TltPosition = 1,
    phase3Cnt = 4, phase3Period = 2m, phase3ThresholdRate = 3, phase3QqqPosition = 0, phase3TltPosition = 1

In [17]:
class Phase:
#     def __init__(self, num, cnt, period, thresholdRate, qqqPosition, tltPosition):
#         self.num = num
#         self.cnt = cnt
#         self.period = period
#         self.thresholdRate = thresholdRate
#         self.qqqPosition = qqqPosition
#         self.tltPosition = tltPosition
    def __init__(self, num:str):
        self.num = num

In [18]:
# class result:
#     def __init__(self, resultNum, date, phase, returnRate, balance, qqqPosition, tltPosition, taxSum, fee):
#         self.resiltNum = resultNum
#         self.date = date
#         self.phase = phase
#         self.returnRate = returnRate
#         self.balance = balance
#         self.qqqPosition = qqqPosition
#         self.tltPosition = tltPosition
#         self.taxSum = taxSum
#         self.fee = fee

#     resiltNum
#     date
#     phase
#     returnRate
#     balance
#     qqqPosition
#     tltPosition
#     taxSum
#     fee

In [19]:
CONFIG = {
    'test': Phase(5),
	'sellFee' : 0.002,
    'buyFee' : 0.002,
    'taxRate' : 0.22,
	'phaseList' : [
		{
			'phaseNum' : 1,
			'phaseCnt' : 1,
            'phasePeriodNum' : 1,
            'phasePeriodType' : 'm',
            'phaseThresholdRate' : 2,
            'phaseQqqPosition' : 0.1,
            'phaseTltPosition' : 0.9
		},
		{
			'phaseNum' : 2,
			'phaseCnt' : 1,
            'phasePeriodNum' : 1,
            'phasePeriodType' : 'm',
            'phaseThresholdRate' : 3,
            'phaseQqqPosition' : 0,
            'phaseTltPosition' : 1
		},
        {
            'phaseNum' : 3,
            'phaseCnt' : 4,
            'phasePeriodNum' : 2,
            'phasePeriodType' : 'm',
            'phaseThresholdRate' : 3,
            'phaseQqqPosition' : 0,
            'phaseTltPosition' : 1
        }
	]
}

In [20]:
type(CONFIG['test'])
type(CONFIG['test'].num)
CONFIG['test'].num * 5

25

In [21]:
CONFIG['sellFee'] * 2

0.004

In [22]:
type(CONFIG['phaseList'])

list

In [23]:
type('phaselist')

str

In [24]:
for phase in CONFIG['phaseList']:
    print(phase['phaseNum'])
print('end')

1
2
3
end

In [25]:
for i in 'phaselist':
    print(i + '/');

p/
h/
a/
s/
e/
l/
i/
s/
t/

In [26]:
print(3)

3

In [27]:
print('hello world'.replace(' ', ''))

helloworld

In [28]:
# 1번
qqq['Date'].min()

Timestamp('1999-01-04 00:00:00')

In [29]:
tlt['Date'].min()

Timestamp('1986-05-19 00:00:00')

In [30]:
# 2번
qqq['R'].max()

14.17

In [31]:
qqq['R'].min()

-9.67

In [32]:
tlt['R'].max()

7.757

In [33]:
tlt['R'].min()

-5.689

In [34]:
# 3번
qqq2020 = qqq.loc[(qqq['Date'].dt.year == 2020)]
tlt2020 = tlt.loc[(tlt['Date'].dt.year == 2020)]

In [35]:
qqq.loc[qqq['Date'].dt.year == 2020, 'R'].min()
# qqq.info()
# qqq.head()

-4.61

In [36]:
qqq2020['R'].max()

2.1

In [37]:
qqq2020['R'].min()

-4.61

In [38]:
tlt2020['R'].max()

2.257

In [39]:
tlt2020['R'].min()

-1.353

In [40]:
# 4번
CONFIG['phaseList'][0]['phaseQqqPosition'] + CONFIG['phaseList'][0]['phaseTltPosition']

1.0

In [41]:
qqq.info()
tlt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5323 entries, 0 to 5322
Data columns (total 4 columns):
Date       5323 non-null datetime64[ns]
R          5323 non-null float64
qqqR       5323 non-null object
Date_1m    5323 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 166.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8515 entries, 0 to 8514
Data columns (total 3 columns):
Date    8515 non-null datetime64[ns]
R       8515 non-null float64
tltR    8515 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 199.7+ KB

In [42]:
# phase1
# CONFIG['phaseList'][0]['phaseQqqPosition']*qqq['R'] + CONFIG['phaseList'][0]['phaseTltPosition']*tlt['R']

qqqPosition1 = CONFIG['phaseList'][0]['phaseQqqPosition']
tltPosition1 = CONFIG['phaseList'][0]['phaseTltPosition']

# result = qqqPosition1 * qqq['R'] + tltPosition1 * tlt['R']
dataSum =  pd.merge(qqq,tlt,how='outer', left_on='Date', right_on='Date')[['Date','Date_1m','qqqR','tltR']]
dataSum.loc[dataSum['Date'] >= qqq['Date'].min()].count()

Date       5323
Date_1m    5323
qqqR       5323
tltR       5323
dtype: int64

In [43]:
dataSum.loc[dataSum['Date'] >= qqq['Date'].min()]

           Date    Date_1m    qqqR     tltR
0    2020-02-28 2020-03-28   0.01%   2.257%
1    2020-02-27 2020-03-27  -4.61%   0.967%
2    2020-02-26 2020-03-26   0.17%  -0.549%
3    2020-02-25 2020-03-25  -2.77%   0.622%
4    2020-02-24 2020-03-24  -3.71%   1.473%
...         ...        ...     ...      ...
5318 1999-01-08 1999-02-08   0.79%  -0.977%
5319 1999-01-07 1999-02-07   0.23%  -0.618%
5320 1999-01-06 1999-02-06   3.09%   0.532%
5321 1999-01-05 1999-02-05   1.96%  -0.442%
5322 1999-01-04 1999-02-04   0.70%  -0.352%

[5323 rows x 4 columns]

In [44]:
dataSum.loc[dataSum['qqqR'].isnull(), 'qqqR'] = 0
dataSum.loc[dataSum['tltR'].isnull(), 'tltR'] = 0
dataSum.describe()

                       Date              Date_1m    qqqR    tltR
count                  8515                 5323  8515.0    8515
unique                 8515                 5240   811.0    2401
top     1989-12-27 00:00:00  2003-02-28 00:00:00     0.0  0.000%
freq                      1                    4  3192.0     619
first   1986-05-19 00:00:00  1999-02-04 00:00:00     NaN     NaN
last    2020-02-28 00:00:00  2020-03-28 00:00:00     NaN     NaN

In [45]:
dataSum['qqqR'] = dataSum['qqqR'].str.replace('%','').astype(np.float64)

In [46]:
dataSum['tltR'] = dataSum['tltR'].str.replace('%','').astype(np.float64)

In [47]:
dataSum.isnull()

       Date  Date_1m   qqqR   tltR
0     False    False  False  False
1     False    False  False  False
2     False    False  False  False
3     False    False  False  False
4     False    False  False  False
...     ...      ...    ...    ...
8510  False     True   True  False
8511  False     True   True  False
8512  False     True   True  False
8513  False     True   True  False
8514  False     True   True  False

[8515 rows x 4 columns]

In [48]:
# phase1
CONFIG['phaseList'][0]['phaseQqqPosition'] * dataSum['qqqR'] + CONFIG['phaseList'][0]['phaseTltPosition'] * dataSum['tltR']

0       2.0323
1       0.4093
2      -0.4771
3       0.2828
4       0.9547
         ...
8510       NaN
8511       NaN
8512       NaN
8513       NaN
8514       NaN
Length: 8515, dtype: float64

In [49]:
# phase2
CONFIG['phaseList'][1]['phaseQqqPosition'] * dataSum['qqqR'] + CONFIG['phaseList'][1]['phaseTltPosition'] * dataSum['tltR']

0       2.257
1       0.967
2      -0.549
3       0.622
4       1.473
        ...
8510      NaN
8511      NaN
8512      NaN
8513      NaN
8514      NaN
Length: 8515, dtype: float64

In [50]:
# phase3
CONFIG['phaseList'][2]['phaseQqqPosition'] * dataSum['qqqR'] + CONFIG['phaseList'][2]['phaseTltPosition'] * dataSum['tltR']

0       2.257
1       0.967
2      -0.549
3       0.622
4       1.473
        ...
8510      NaN
8511      NaN
8512      NaN
8513      NaN
8514      NaN
Length: 8515, dtype: float64

In [51]:
#phase2
CONFIG['phaseList'][1]['phaseQqqPosition']*qqq['R'] + CONFIG['phaseList'][1]['phaseTltPosition']*tlt['R']

0      -0.200
1      -0.200
2       1.002
3      -0.198
4       0.199
        ...
8510      NaN
8511      NaN
8512      NaN
8513      NaN
8514      NaN
Name: R, Length: 8515, dtype: float64

In [52]:
#phase3
CONFIG['phaseList'][2]['phaseQqqPosition']*qqq['R'] + CONFIG['phaseList'][2]['phaseTltPosition']*tlt['R']

0      -0.200
1      -0.200
2       1.002
3      -0.198
4       0.199
        ...
8510      NaN
8511      NaN
8512      NaN
8513      NaN
8514      NaN
Name: R, Length: 8515, dtype: float64

In [53]:
qqq['R'].head

<bound method NDFrame.head of 0       0.01
1      -4.61
2       0.17
3      -2.77
4      -3.71
        ...
5318    0.79
5319    0.23
5320    3.09
5321    1.96
5322    0.70
Name: R, Length: 5323, dtype: float64>

In [54]:
tlt['R'].head

<bound method NDFrame.head of 0      -0.200
1      -0.200
2       1.002
3      -0.198
4       0.199
        ...
8510    1.473
8511    0.622
8512   -0.549
8513    0.967
8514    2.257
Name: R, Length: 8515, dtype: float64>

In [55]:
sum = qqq['R'] + tlt['R']

In [56]:
sum.head()

0   -0.190
1   -4.810
2    1.172
3   -2.968
4   -3.511
Name: R, dtype: float64

In [57]:
import random

In [58]:
random.random()
test1 = range(dataSum.shape[0])

In [59]:
len(test1)

8515

In [60]:
dataSum['phase'] = phase

ValueError: Length of values does not match length of index

In [ ]:
dataSum.describe()

In [ ]:
print(test1)

In [ ]:
phase = []
for i in test1:
    dataSum['phase2'] = dataSum['phase'].iloc[i] = int(random.random()*3)

In [ ]:
dataSum['phase3'].iloc[0] = 5

In [ ]:
dataSum.head()

In [ ]:
dataSum.shape[0]

In [69]:
for i in dataSum['phase']:
    [
    for i in CONFIG['phaseList']:
        if phase == i:
            dataSum['choiceRate'].loc(i) = phaseQqqPosition * dataSum['qqqR'] + phaseTltPosition * dataSum['tltR']
    ]

SyntaxError: invalid syntax (<ipython-input-69-d96bfafc9412>, line 3)