In [3]:
import pandas as pd
import numpy as np

In [4]:
qqq = pd.read_csv('./NASDAQ Composite Historical Data.csv')[['Date','R']]
tlt = pd.read_csv('./VUSTX.csv')[['Date','R']]
qqq['qqqR'] = qqq['R']
tlt['tltR'] = tlt['R']

In [8]:
qqq.head()

        Date       R    qqqR
0  28-Feb-20   0.01%   0.01%
1  27-Feb-20  -4.61%  -4.61%
2  26-Feb-20   0.17%   0.17%
3  25-Feb-20  -2.77%  -2.77%
4  24-Feb-20  -3.71%  -3.71%

In [9]:
tlt['Date'] = pd.to_datetime(tlt['Date'])
qqq['Date'] = pd.to_datetime(qqq['Date'])
tlt['R'] = tlt['R'].str.replace('%','').astype(np.float64)
qqq['R'] = qqq['R'].str.replace('%','').astype(np.float64)

In [10]:
qqq['Date'] = pd.to_datetime(qqq['Date'])

In [11]:
qqq["Date_1m"] = qqq["Date"] + pd.DateOffset(months=1)

In [12]:
CONFIG = {
	'sellFee' : 0.002,
    'buyFee' : 0.002,
    'taxRate' : 0.22,
	'phaseList' : [
		{
			'phaseNum' : 1,
			'phaseCnt' : 1,
            'phasePeriodNum' : 1,
            'phasePeriodType' : 'm',
            'phaseThresholdRate' : 2,
            'phaseQqqPosition' : 0.1,
            'phaseTltPosition' : 0.9
		},
		{
			'phaseNum' : 2,
			'phaseCnt' : 1,
            'phasePeriodNum' : 1,
            'phasePeriodType' : 'm',
            'phaseThresholdRate' : 3,
            'phaseQqqPosition' : 0,
            'phaseTltPosition' : 1
		},
        {
            'phaseNum' : 3,
            'phaseCnt' : 4,
            'phasePeriodNum' : 2,
            'phasePeriodType' : 'm',
            'phaseThresholdRate' : 3,
            'phaseQqqPosition' : 0,
            'phaseTltPosition' : 1
        }
	]
}

In [13]:
# phase1
# CONFIG['phaseList'][0]['phaseQqqPosition']*qqq['R'] + CONFIG['phaseList'][0]['phaseTltPosition']*tlt['R']

qqqPosition1 = CONFIG['phaseList'][0]['phaseQqqPosition']
tltPosition1 = CONFIG['phaseList'][0]['phaseTltPosition']

# result = qqqPosition1 * qqq['R'] + tltPosition1 * tlt['R']
dataSum =  pd.merge(qqq,tlt,how='outer', left_on='Date', right_on='Date')[['Date','Date_1m','qqqR','tltR']]
# dataSum.loc[dataSum['Date'] >= qqq['Date'].min()].count()

In [14]:
dataSum['qqqR'] = dataSum['qqqR'].str.replace('%','').astype(np.float64)
dataSum['tltR'] = dataSum['tltR'].str.replace('%','').astype(np.float64)

In [15]:
dataSum.loc[dataSum['qqqR'].isnull(), 'qqqR'] = 0
dataSum.loc[dataSum['tltR'].isnull(), 'tltR'] = 0

In [16]:
import random
test1 = range(dataSum.shape[0])

In [17]:
dataSum['phase'] = 0

In [26]:
dataSum.sample(10)
dataSum.describe()

              qqqR         tltR        phase
count  8515.000000  8515.000000  8515.000000
mean      0.023692     0.032566     0.987434
std       1.240583     0.658659     0.816759
min      -9.670000    -5.689000     0.000000
25%      -0.140000    -0.330000     0.000000
50%       0.000000     0.000000     1.000000
75%       0.320000     0.409000     2.000000
max      14.170000     7.757000     2.000000

In [33]:
phase = []
# for i in test1:
#     dataSum['phase'].iloc[i] = int(random.random()*3)
for i in test1:
    phase.append(int(random.random()*3)+1)
dataSum['phase'] = phase
dataSum.sample(10)

           Date    Date_1m  qqqR   tltR  phase
2560 2009-12-24 2010-01-24  0.71 -0.909      1
4285 2003-02-20 2003-03-20 -0.23  0.255      1
8285 1998-02-04        NaT  0.00 -0.093      3
3763 2005-03-17 2005-04-17  0.03  0.351      1
2811 2008-12-26 2009-01-26  0.35  0.440      1
4950 2000-06-23 2000-07-23 -2.32 -0.593      2
6320 1990-04-27        NaT  0.00 -0.111      3
7902 1996-07-30        NaT  0.00  0.420      2
4026 2004-03-02 2004-04-02 -0.88 -0.428      2
3041 2008-01-30 2008-02-29 -0.38 -0.510      3

In [19]:
dataSum

           Date    Date_1m  qqqR   tltR  phase
0    2020-02-28 2020-03-28  0.01  2.257      1
1    2020-02-27 2020-03-27 -4.61  0.967      2
2    2020-02-26 2020-03-26  0.17 -0.549      0
3    2020-02-25 2020-03-25 -2.77  0.622      1
4    2020-02-24 2020-03-24 -3.71  1.473      2
...         ...        ...   ...    ...    ...
8510 1998-12-24        NaT  0.00 -0.267      1
8511 1998-12-28        NaT  0.00  0.715      1
8512 1998-12-29        NaT  0.00  0.444      1
8513 1998-12-30        NaT  0.00  0.353      0
8514 1998-12-31        NaT  0.00  0.460      1

[8515 rows x 5 columns]

In [46]:
choiceRate = []
for idx, val in enumerate(dataSum['phase']):
    for phase in CONFIG['phaseList']:
        if phase['phaseNum'] == val:
            choiceRate.append(phase['phaseQqqPosition'] * dataSum['qqqR'].loc[idx] + phase['phaseTltPosition'] * dataSum['tltR'].loc[idx])

dataSum['choiceRate'] = choiceRate
dataSum.sample(10)

           Date    Date_1m  qqqR   tltR  phase  choiceRate
443  2018-05-24 2018-06-24 -0.02  0.783      2      0.7830
6691 1991-10-15        NaT  0.00  0.100      2      0.1000
4157 2003-08-22 2003-09-22 -0.69  0.631      2      0.6310
1409 2014-07-24 2014-08-24 -0.04 -0.737      1     -0.6673
5676 1987-10-09        NaT  0.00 -0.583      1     -0.5247
4982 2000-05-09 2000-06-09 -2.30  0.512      1      0.2308
5230 1999-05-17 1999-06-17  1.34  0.097      2      0.0970
1077 2015-11-16 2015-12-16  1.15 -0.081      3     -0.0810
1920 2012-07-11 2012-08-11 -0.49  0.144      3      0.1440
4802 2001-01-25 2001-02-25 -3.67  0.466      1      0.0524

In [37]:
qqq['R'].loc[3]

-2.77

In [31]:
CONFIG['phaseList']

[{'phaseNum': 1,
  'phaseCnt': 1,
  'phasePeriodNum': 1,
  'phasePeriodType': 'm',
  'phaseThresholdRate': 2,
  'phaseQqqPosition': 0.1,
  'phaseTltPosition': 0.9},
 {'phaseNum': 2,
  'phaseCnt': 1,
  'phasePeriodNum': 1,
  'phasePeriodType': 'm',
  'phaseThresholdRate': 3,
  'phaseQqqPosition': 0,
  'phaseTltPosition': 1},
 {'phaseNum': 3,
  'phaseCnt': 4,
  'phasePeriodNum': 2,
  'phasePeriodType': 'm',
  'phaseThresholdRate': 3,
  'phaseQqqPosition': 0,
  'phaseTltPosition': 1}]

In [21]:
for i in CONFIG['phaseList']:
        if phase == i:
            dataSum['choiceRate'].loc(i) = phaseQqqPosition * dataSum['qqqR'] + phaseTltPosition * dataSum['tltR']

SyntaxError: can't assign to function call (<ipython-input-21-57c40e5eccc9>, line 3)